/**********************************************
 Body
 *********************************************/
body
{
	font-family: Arial, Helvetica, sans-serif;
}

/**********************************************
 List
 *********************************************/
.list
{
	width: 1px;
}
.list td, th
{
	text-align: left;
	height: 22px;
}
.list td, th
{
	padding-left: 7px;
	padding-right: 7px;
}
.list .alternate
{
	background-color: #E9E9E9;
}

/**********************************************
 Form
 *********************************************/
.fakeForm
{
	border: 1px solid #999;
}
.fakeForm hr
{
	border-bottom: 1px solid #CCC;
	border-top: none;
	border-left: none;
	border-right: none;
}

/**********************************************
 Bars
 *********************************************/
.bottomBar
{
	position: fixed;
	right: 0px;
	bottom: 0px;
	
	padding-left: 10px;
	padding-right: 10px;
	padding-top:5px;
	padding-bottom:5px;
	
	background-color: #CCC;
}