/**************************************************
* style.css
*
* Copyright © 2011 Design Wonders
*/

/**********************************************
 Body
 *********************************************/
body 
{
	background-color: #b1a38d;
	background-image: url(images/bg.png);
	background-position: top;
	background-repeat: repeat-x;
	padding: 0;
	margin: 0;
	
	font-family: Arial, Helvetica, Sans-Serif;
	color: #463328;
	
	height: 100%;
}

.bodyTable
{
	width: 100%;
}
.bodyLeft, .bodyRight
{
	width: 50%;
}
.bodyContent
{
	background-color: #fff7ee;
	padding: 20px;
	height: 200px;
	vertical-align: top;
}

table, div
{
	padding: 0;
	margin: 0;
	width: 100%;
}

img
{
	border: 0;
}

a:link, a:visited, a:active, a:hover
{
	color: #3a6669;
}
a:link, a:visited, a:active
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

h1
{
	color: #7b9d33;
	font-size: 24px;
}

h2, h4
{
	color: #cf8b1f;
	margin-bottom: 0px;
}
h2
{
	font-size: 16px;
}
h3
{
	font-size: 18px;
}
h4
{
	font-size: 20px;
}
h5
{
	font-size: 16px;
}
h5
{
	margin-top: 0px;
}

p
{
	line-height: 20px;
	font-size: 14px;
	margin-top: 0px;
}

hr
{
	border-top: 1px solid #CCC;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

/**********************************************
 Header
 *********************************************/
.headerTop
{
	height: 100px;
	font-family: Verdana;
	font-size: 36px;
	color: #3a6669;
	
	margin-top: 40px;
}

.tabs
{
	width: 100%;
}
.tabs td
{
	height: 40px;
	text-align: center;
	line-height: 40px;
	vertical-align: top; 
	
	width: 1%;
}
.tab, .tabB
{
	border-top: 1px solid #d3f291;
	border-right: 1px solid #7b9c33;
	
	background-image: url(images/tabBg.png);
	background-position: top;
	background-repeat: repeat-x;
}
.tab
{
	border-left: 1px solid #bbdc75;
}
.tabB
{
	border-left: 1px solid #7b9c33;
}

.tabSelected
{
	border-top: 1px solid #fefae8;
	border-left: 1px solid #fefae8;
	border-right: 1px solid #fefae8;
	
	background-color: #fff7ee;
	color: #463328;
}

.tab a, .tabB a
{
	display: block;
	width: 100%;
	height: 100%;
}
.tab a:link, .tab a:visited, .tab a:active, .tab a:hover, .tabB a:link, .tabB a:visited, .tabB a:active, .tabB a:hover
{
	color: #fefae8;
	text-decoration: none;
}

/**********************************************
 Footer
 *********************************************/
.footer
{
	width: 100%;
	
	margin: 8px 0px 8px 0px;
	
	color: #463328;
	font-size: 14px;
}
.footer a:link, .footer a:visited, .footer a:active, .footer a:hover
{
	color: #463328;
}

/**********************************************
 Projects
 *********************************************/
.projects
{
	width: 100%;
	font-size: 14px;
	position: relative;
	left: 0;
	top: 0;
}

.projects .noRows
{
	font-size: 16px;
	color: #F00;
}

.projects .returnLink
{
	text-align: right;
	font-size: 16px;
}

.projects .projectContentRow .projectContentCell
{
	border: 1px solid #CCC;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
}

.projects .projectContentRow .link
{
	font-size: 16px;
}

.projects .projectContentRow .componentsTable td
{
	vertical-align: top;
	padding-right: 10px;
}
.projects .projectContentRow .componentsTable, .projects .projectContentRow .componentsTable ul
{
	font-size: 12px;
}
.projects .projectContentRow .componentsTable ul
{
	margin: 0px;
	padding-left: 15px;
	list-style-type: disk;
}
.projects .projectContentRow .componentsTable ul li
{
	white-space: nowrap;
}

.filterOptions
{
	width: auto;
	vertical-align: top;
}
.filterOptions table
{
	font-size: 14px;
}
.filterOptions td
{
	width: auto;
	vertical-align: top;
}
.filterOptions td + td
{
	width: 100%;
}
.filterOptions .title
{
	font-weight: bold;
}

.commentWraper
{
	width: 450px;
	margin-left: 25px;
}
.postCommentRow .postCommentCell .title
{
	font-size: 16px;
	padding-left: 5px;
	line-height: 25px;
}
.postCommentRow .postCommentCell .postCommentForm, .commentRow td
{
	border: 1px solid #CCC;
}
.postCommentRow .postCommentCell .postCommentForm .text
{
	border-bottom: 1px solid #CCC;
	
	text-align: center;
	font-size: 16px;
}
.postCommentRow .postCommentCell .postCommentForm .text textarea
{
	width: 100%;
	height: 95px;
	
	padding: 5px;
	
	border: none;
	resize:none;
}

.postCommentRow .postCommentCell .postCommentForm .name, .postCommentRow .postCommentCell .wraper .postCommentForm .button
{
	height: 40px;
}
.postCommentRow .postCommentCell .postCommentForm .name
{
	padding-left: 5px;
	font-size: 14px;
	font-weight: bold;
}
.postCommentRow .postCommentCell .postCommentForm .button
{
	padding-right: 5px;
}

.postCommentRow .postCommentCell .postCommentForm .name input
{
	width: 80px;
	border: 1px solid #CCC;
}

.postCommentRow .postCommentCell .postCommentForm .button input
{
	width: 70px;
	height: 30px;
}

.commentRow td
{
	padding: 5px;
}
.commentRow .name
{
	font-weight: bold;
	font-size: 14px;
}
.commentRow .timestamp
{
	font-size: 10px;
}
.commentRow .text
{
	font-size: 12px;
}

/**********************************************
 Elements
 *********************************************/
.infoText
{
	font-size: 14px;
	border: 1px solid #CCC;
	padding: 5px;
}