/**********************************************
 Error
 *********************************************/
.errorMessage
{
	padding: 5px;
}
.errorDetails
{
	border: 1px dashed #999;
	padding: 3px;
	width: 100%;
	
	display: none;
	font-size: 12px;
}
.errorDetailsLink
{
	font-size: 12px;
}

/**********************************************
 Form
 *********************************************/
.alertText
{
	font-size: 12px;
	color: #F00;
	display: none;
}